
.four{
    width: 100%;
    position: relative;
}

.list_wrapper{
    width: 500px;
    height: 200px;
    margin: 20px auto;
}

.list{
    width: 500px;
    height: 200px;
    border: 1px solid gray;
    resize: none;
    user-select: none;
}

.list:focus{
    outline: none;
}

.buttons{
    width: 625px;
    height: 300px;
    margin: 0 auto;
}

.buttons p{
    min-width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin: 0px 5px;
    padding: 0px 3px;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
}

.buttons p:active{
    box-shadow: inset 1px 1px 1px black;
}

.buttonsRow{
    width: 625px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5px;
    user-select: none;
}

.spacebar{
    width: 300px;
}