
.five{
    width: 100%;
    position: relative;
}

.newThreadModal{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    background: #eee;
    box-shadow: 2px 2px 3px black;
    z-index: 5;
}

.threads{
    width: 800px;
    height: 500px;
    overflow-y: scroll;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
    border: 1px solid blue;
}

.thread{
    width: 100%;
    min-height: 50px;
    border: 1px solid black;
    position: relative;
}

.threadPlus{
    width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    font-size: 50px;
    float: left;
    cursor: pointer;
    user-select: none;
}

.threadName{
    height: 50px;
    line-height: 46px;
    font-size: 24px;
    font-weight: bold;
}

.message{
    width: 100%;
    min-height: 30px;
    line-height: 24px;
    font-size: 14px;
    padding-left: 20px;
    border-bottom: 1px solid black;
}

.postCommentBtn{
    width: 130px;
    height: 20px;
    border: 1px solid black;
    background: #eee;
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer;
}

.repliesPlus{
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    cursor: pointer;
}

.replies_wrapper{
    position: relative;
}

.reply{
    position: relative;
    font-size: 10px;
    line-height: 10px;
    padding: 3px 10px;
    border-top: 1px solid black;
}